@import "tailwindcss";

.font-cormorant {
  font-family: var(--font-cormorant), serif;
}


:root {
  /* Premium Rich Black
     Headings / Text / Buttons / Footer */
  --black: #111111;

  /* Pure White
     Backgrounds / Cards / Text on Dark */
  --white: #FFFFFF;

  /* Warm Luxury Gold / Sand Accent
     Hover / Highlights / CTA */
  --accent: #C6A77D;

  /* Muted Gray
     Secondary Text / Subtitles */
  --muted: #6B7280;

  /* Border Gray
     Dividers / Borders */
  --border: #E5E7EB;
}
